[submodule "thirdparty/etcd-cpp-apiv3"]
	path = thirdparty/etcd-cpp-apiv3
	url = git@github.com:etcd-cpp-apiv3/etcd-cpp-apiv3.git
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "thirdparty/cpprestsdk"]
	path = thirdparty/cpprestsdk
	url = https://github.com/microsoft/cpprestsdk.git
[submodule "thirdparty/uri"]
	path = thirdparty/uri
	url = https://github.com/cpp-netlib/uri.git
[submodule "thirdparty/aliyun-oss-cpp-sdk"]
	path = thirdparty/aliyun-oss-cpp-sdk
	url = https://github.com/aliyun/aliyun-oss-cpp-sdk.git
[submodule "thirdparty/boost-leaf"]
	path = modules/graph/thirdparty/boost-leaf
	url = https://github.com/boostorg/leaf.git
