[submodule "thirdparty/etcd-cpp-apiv3"]
	path = thirdparty/etcd-cpp-apiv3
	url = https://github.com/etcd-cpp-apiv3/etcd-cpp-apiv3.git
	shallow = true
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
	shallow = true
[submodule "thirdparty/cpprestsdk"]
	path = thirdparty/cpprestsdk
	url = https://github.com/microsoft/cpprestsdk.git
	shallow = true
[submodule "thirdparty/nlohmann-json"]
	path = thirdparty/nlohmann-json
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "thirdparty/intel-tbb"]
	path = thirdparty/intel-tbb
	url = https://github.com/oneapi-src/oneTBB.git
	shallow = true
[submodule "thirdparty/ctti"]
	path = thirdparty/ctti
	url = https://github.com/Manu343726/ctti.git
	shallow = true
[submodule "thirdparty/mimalloc"]
	path = thirdparty/mimalloc
	url = https://github.com/microsoft/mimalloc.git
	shallow = true
[submodule "thirdparty/boost-leaf"]
	path = modules/graph/thirdparty/boost-leaf
	url = https://github.com/boostorg/leaf.git
	shallow = true
[submodule "modules/hosseinmoein-dataframe/thirdparty/DataFrame"]
	path = modules/hosseinmoein-dataframe/thirdparty/DataFrame
	url = https://github.com/hosseinmoein/DataFrame.git
	shallow = true
[submodule "thirdparty/redis-plus-plus"]
	path = thirdparty/redis-plus-plus
	url = https://github.com/sewenew/redis-plus-plus.git
	shallow = true
[submodule "thirdparty/hiredis"]
	path = thirdparty/hiredis
	url = https://github.com/redis/hiredis.git
  shallow = true

