apiVersion: k8s.v6d.io/v1alpha1
kind: Vineyardd
metadata:
  name: vineyardd-sample
  # don't use default namespace
  namespace: vineyard-system
spec:
  image: docker.pkg.github.com/v6d-io/v6d/vineyardd:alpine-latest
  version: 0.7.1
  replicas: 2
  imagePullPolicy: IfNotPresent
  # vineyardd's configuration
  config:
    sharedMemorySize: 256Mi
    syncCRDs: true
    enableMetrics: false
  etcd:
    instances: 3
  service:
    type: ClusterIP
    port: 9600