argcomplete
black>=22.3.0
breathe
click
docutils==0.16
etcd-distro
flake8>=4.0.1
flake8-comprehensions
flake8-logging-format
furo        # sphinx theme
isort>=5.10.1
jinja2>=3.0.0
libclang
linkify-it-py
makefun
myst-parser>=0.13.0
nbsphinx
numpy>=1.18.5
pandas<1.0.0; python_version<"3.6"
pandas>=1.0.0; python_version>="3.7"
pandas<1.2.0; python_version<"3.7"
pickle5; python_version<="3.7"
psutil
pyarrow
pygments>=2.4.1
pytest
pytest-benchmark
pytest-datafiles
pytest-timeout
setuptools
shared-memory38; python_version<="3.7"
sortedcontainers
sphinx>=3.0.2,<6
sphinx-copybutton
sphinxemoji
sphinxext-opengraph
sphinx-panels
treelib
