argcomplete
black
breathe
click
docutils==0.16
etcd-distro
flake8
furo        # sphinx theme
isort
jinja2>=3.0.0
libclang
nbsphinx
numpy>=1.18.5
parsec
pandas<1.0.0; python_version<"3.6"
pandas<1.2.0; python_version<"3.7"
pandas>=1.0.0; python_version>="3.7"
pickle5; python_version<="3.7"
pygments>=2.4.1
psutil
pytest
pytest-benchmark
pytest-datafiles
setuptools
shared-memory38; python_version<="3.7"
sortedcontainers
sphinx>=3.0.2
sphinx-copybutton
sphinx-panels
sphinxemoji
sphinxext-opengraph
treelib
wheel

