name: Spell Check with CSpell
on:
  - pull_request

jobs:
  run:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        # Support forked repositories
        repository: ${{ github.event.pull_request.head.repo.full_name }}

    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v42
      with:
        # Use explicit base and head SHA for PR events
        base_sha: ${{ github.event.pull_request.base.sha }}
        sha: ${{ github.event.pull_request.head.sha }}

    - name: List all changed files
      env:
        ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
      run: |
        for file in ${ALL_CHANGED_FILES}; do
          echo "File $file was changed"
        done

    - name: Spell checking
      uses: streetsidesoftware/cspell-action@v5
      with:
        files: ${{ steps.changed-files.outputs.all_changed_files }}
        verbose: true
