# Copyright 2020-2023 Alibaba Group Holding Limited.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Vineyard Operator

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
    paths:
      - '.github/workflows/vineyard-operator.yaml'
      - 'k8s/**'
      - 'src/server/util/kubectl*'
      - 'charts/vineyard-operator/**'
  pull_request:
    branches:
      - main
      - dev/kubernetes
    paths:
      - '.github/workflows/vineyard-operator.yaml'
      - 'k8s/**'
      - 'src/server/util/kubectl*'
      - 'charts/vineyard-operator/**'

concurrency:
  group: ${{ github.repository }}-${{ github.event.number || github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io/v6d-io/v6d
  IMG: vineyardcloudnative/vineyard-operator:latest
  NIGHTLY_IMG: ghcr.io/v6d-io/v6d/vineyard-operator:nightly
  LATEST_IMG: ghcr.io/v6d-io/v6d/vineyard-operator:latest
  KUBECONFIG: /tmp/e2e-k8s.config

jobs:
  ci:
    runs-on: ubuntu-20.04
    if: ${{ github.repository == 'v6d-io/v6d' }}
    strategy:
      fail-fast: false
      matrix:
        job:
          - release
          - e2e-tests-assembly-local
          - e2e-tests-assembly-distributed
          - e2e-tests-autogenerated-helm-chart
          - e2e-tests-failover
          - e2e-tests-repartition-dask
          - e2e-tests-scheduler-outside-cluster
          - e2e-tests-serialize
          - e2e-tests-sidecar
          - e2e-tests-spill
          - e2e-tests-workflow
          - e2e-tests-mars-examples
          - e2e-tests-vineyardctl
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Cache for golang
        uses: actions/cache@v3
        with:
          path: ~/go
          key: vineyard-kubernetes-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            vineyard-kubernetes-go-

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.49.0
          working-directory: k8s
          skip-pkg-cache: true

      - name: Golang format
        run: |
          function prepend() { while read line; do echo "${1}${line}"; done; }

          make -C k8s fmt
          GIT_DIFF=$(git diff --ignore-submodules)
          if [[ -n $GIT_DIFF ]]; then
              echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
              echo "| gofmt failures found!"
              echo "|"
              echo "$GIT_DIFF" | prepend "| "
              echo "|"
              echo "| Run: "
              echo "|"
              echo "|    make -C k8s fmt"
              echo "|"
              echo "| to fix this error."
              echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
              exit -1
          fi

      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build docker image
        run: |
          make -C k8s docker-build

      - name: Extract tag name
        id: tag
        if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v') }}
        run: echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Set up qemu
        if: ${{ matrix.job == 'release' && github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v') && github.repository == 'v6d-io/v6d' }}
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        if: ${{ matrix.job == 'release' && github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v') && github.repository == 'v6d-io/v6d' }}
        uses: docker/setup-buildx-action@v2

      - name: Upload latest docker image
        if: ${{ matrix.job == 'release' && github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v') && github.repository == 'v6d-io/v6d' }}
        run: |
          make -C k8s docker-build-push-multi-arch REGISTRY=${{ env.REGISTRY }} VERSION=${{ steps.tag.outputs.TAG }}
          make -C k8s docker-build-push-multi-arch REGISTRY=${{ env.REGISTRY }} VERSION=latest

      - name: Generate the python and vineyardd image for tests
        if: ${{ matrix.job != 'release' }}
        run: |
          make -C k8s/test/e2e build-base-images

      - name: e2e-tests-assembly-local
        if: ${{ matrix.job == 'e2e-tests-assembly-local' }}
        run: |
          mkdir -p e2e-tests-assembly-local-logs
          chmod +rw e2e-tests-assembly-local-logs
          make -C k8s/test/e2e e2e-tests-assembly-local

      - name: export all logs on the kubernetes cluster for assembly local e2e tests
        uses: dashanji/kubernetes-log-export-action@v3
        if: ${{ matrix.job == 'e2e-tests-assembly-local' && failure() }}
        env:
          SHOW_TIMESTAMPS: 'true'
          OUTPUT_DIR: ${{ github.workspace }}/e2e-tests-assembly-local-logs
          # NOT export logs from the following namespaces
          NAMESPACES: local-path-storage,kube-system

      - name: e2e-tests-assembly-distributed
        if: ${{ matrix.job == 'e2e-tests-assembly-distributed' }}
        run: |
          mkdir -p e2e-tests-assembly-distributed-logs
          chmod +rw e2e-tests-assembly-distributed-logs
          make -C k8s/test/e2e e2e-tests-assembly-distributed

      - name: export all logs on the kubernetes cluster for assembly distributed e2e tests
        uses: dashanji/kubernetes-log-export-action@v3
        if: ${{ matrix.job == 'e2e-tests-assembly-distributed' && failure() }}
        env:
          SHOW_TIMESTAMPS: 'true'
          OUTPUT_DIR: ${{ github.workspace }}/e2e-tests-assembly-distributed-logs
          NAMESPACES: local-path-storage,kube-system

      - name: e2e-tests-autogenerated-helm-chart
        if: ${{ matrix.job == 'e2e-tests-autogenerated-helm-chart' }}
        run: |
          mkdir -p e2e-tests-autogenerated-helm-chart-logs
          chmod +rw e2e-tests-autogenerated-helm-chart-logs
          make -C k8s/test/e2e e2e-tests-autogenerated-helm-chart

      - name: export all logs on the kubernetes cluster for autogenerated helm chart e2e tests
        uses: dashanji/kubernetes-log-export-action@v3
        if: ${{ matrix.job == 'e2e-tests-autogenerated-helm-chart' && failure() }}
        env:
          SHOW_TIMESTAMPS: 'true'
          OUTPUT_DIR: ${{ github.workspace }}/e2e-tests-autogenerated-helm-chart-logs
          NAMESPACES: local-path-storage,kube-system

      - name: e2e-tests-failover
        if: ${{ matrix.job == 'e2e-tests-failover' }}
        run: |
          mkdir -p e2e-tests-failover-logs
          chmod +rw e2e-tests-failover-logs
          make -C k8s/test/e2e e2e-tests-failover

      - name: export all logs on the kubernetes cluster for failover e2e tests
        uses: dashanji/kubernetes-log-export-action@v3
        if: ${{ matrix.job == 'e2e-tests-failover' && failure() }}
        env:
          SHOW_TIMESTAMPS: 'true'
          OUTPUT_DIR: ${{ github.workspace }}/e2e-tests-failover-logs
          NAMESPACES: local-path-storage,kube-system

      - name: e2e-tests-repartition-dask
        if: ${{ matrix.job == 'e2e-tests-repartition-dask' }}
        run: |
          mkdir -p e2e-tests-repartition-dask-logs
          chmod +rw e2e-tests-repartition-dask-logs
          make -C k8s/test/e2e e2e-tests-repartition-dask

      - name: export all logs on the kubernetes cluster for repartition dask e2e tests
        uses: dashanji/kubernetes-log-export-action@v3
        if: ${{ matrix.job == 'e2e-tests-repartition-dask' && failure() }}
        env:
          SHOW_TIMESTAMPS: 'true'
          OUTPUT_DIR: ${{ github.workspace }}/e2e-tests-repartition-dask-logs
          NAMESPACES: local-path-storage,kube-system

      - name: e2e-tests-scheduler-outside-cluster
        if: ${{ matrix.job == 'e2e-tests-scheduler-outside-cluster' }}
        run: |
          mkdir -p e2e-tests-scheduler-outside-cluster-logs
          chmod +rw e2e-tests-scheduler-outside-cluster-logs
          make -C k8s/test/e2e e2e-tests-scheduler-outside-cluster

      - name: export all logs on the kubernetes cluster for scheduler outside cluster e2e tests
        uses: dashanji/kubernetes-log-export-action@v3
        if: ${{ matrix.job == 'e2e-tests-scheduler-outside-cluster' && failure() }}
        env:
          SHOW_TIMESTAMPS: 'true'
          OUTPUT_DIR: ${{ github.workspace }}/e2e-tests-scheduler-outside-cluster-logs
          NAMESPACES: local-path-storage,kube-system

      - name: e2e-tests-serialize
        if: ${{ matrix.job == 'e2e-tests-serialize' }}
        run: |
          mkdir -p e2e-tests-serialize-logs
          chmod +rw e2e-tests-serialize-logs
          make -C k8s/test/e2e e2e-tests-serialize

      - name: export all logs on the kubernetes cluster for serialize e2e tests
        uses: dashanji/kubernetes-log-export-action@v3
        if: ${{ matrix.job == 'e2e-tests-serialize' && failure() }}
        env:
          SHOW_TIMESTAMPS: 'true'
          OUTPUT_DIR: ${{ github.workspace }}/e2e-tests-serialize-logs
          NAMESPACES: local-path-storage,kube-system

      - name: e2e-tests-sidecar
        if: ${{ matrix.job == 'e2e-tests-sidecar' }}
        run: |
          mkdir -p e2e-tests-sidecar-logs
          chmod +rw e2e-tests-sidecar-logs
          make -C k8s/test/e2e e2e-tests-sidecar

      - name: export all logs on the kubernetes cluster for sidecar e2e tests
        uses: dashanji/kubernetes-log-export-action@v3
        if: ${{ matrix.job == 'e2e-tests-sidecar' && failure() }}
        env:
          SHOW_TIMESTAMPS: 'true'
          OUTPUT_DIR: ${{ github.workspace }}/e2e-tests-sidecar-logs
          NAMESPACES: local-path-storage,kube-system

      - name: e2e-tests-spill
        if: ${{ matrix.job == 'e2e-tests-spill' }}
        run: |
          mkdir -p e2e-tests-spill-logs
          chmod +rw e2e-tests-spill-logs
          make -C k8s/test/e2e e2e-tests-spill

      - name: export all logs on the kubernetes cluster for spill e2e tests
        uses: dashanji/kubernetes-log-export-action@v3
        if: ${{ matrix.job == 'e2e-tests-spill' && failure() }}
        env:
          SHOW_TIMESTAMPS: 'true'
          OUTPUT_DIR: ${{ github.workspace }}/e2e-tests-spill-logs
          NAMESPACES: local-path-storage,kube-system

      - name: e2e-tests-workflow
        if: ${{ matrix.job == 'e2e-tests-workflow' }}
        run: |
          mkdir -p e2e-tests-workflow-logs
          chmod +rw e2e-tests-workflow-logs
          make -C k8s/test/e2e e2e-tests-workflow

      - name: export all logs on the kubernetes cluster for workflow e2e tests
        uses: dashanji/kubernetes-log-export-action@v3
        if: ${{ matrix.job == 'e2e-tests-workflow' && failure() }}
        env:
          SHOW_TIMESTAMPS: 'true'
          OUTPUT_DIR: ${{ github.workspace }}/e2e-tests-workflow-logs
          NAMESPACES: local-path-storage,kube-system

      - name: e2e-tests-mars-examples
        if: false  # temporarily disabled, we need some changes in mars
        # if: ${{ matrix.job == 'e2e-tests-mars-examples' }}
        run: |
          make -C k8s/test/e2e e2e-tests-mars-examples

      - name: e2e-tests-vineyardctl
        if: ${{ matrix.job == 'e2e-tests-vineyardctl' }}
        run: |
          mkdir -p e2e-tests-vineyardctl-logs
          chmod +rw e2e-tests-vineyardctl-logs
          make -C k8s/test/e2e e2e-tests-vineyardctl

      - name: export all logs on the kubernetes cluster for vineyardctl e2e tests
        uses: dashanji/kubernetes-log-export-action@v3
        if: ${{ matrix.job == 'e2e-tests-vineyardctl' && failure() }}
        env:
          SHOW_TIMESTAMPS: 'true'
          OUTPUT_DIR: ${{ github.workspace }}/e2e-tests-vineyardctl-logs
          NAMESPACES: local-path-storage,kube-system

      - name: Run Stoat Action
        uses: stoat-dev/stoat-action@v0
        if: always()

      - name: Output the website URL from Stoat Action
        if: always()
        run: |
          echo "e2e-tests-spill: https://www.stoat.dev/file-viewer?root=https://v6d-io--v6d--$(git rev-parse --short ${{ github.event.pull_request.head.sha }})--e2e-tests-0707.stoat.page"
          echo "e2e-tests-sidecar: https://www.stoat.dev/file-viewer?root=https://v6d-io--v6d--$(git rev-parse --short ${{ github.event.pull_request.head.sha }})--e2e-tests-eb62.stoat.page"
          echo "e2e-tests-failover: https://www.stoat.dev/file-viewer?root=https://v6d-io--v6d--$(git rev-parse --short ${{ github.event.pull_request.head.sha }})--e2e-tests-4302.stoat.page"
          echo "e2e-tests-workflow: https://www.stoat.dev/file-viewer?root=https://v6d-io--v6d--$(git rev-parse --short ${{ github.event.pull_request.head.sha }})--e2e-tests-2355.stoat.page"
          echo "e2e-tests-serialize: https://www.stoat.dev/file-viewer?root=https://v6d-io--v6d--$(git rev-parse --short ${{ github.event.pull_request.head.sha }})--e2e-tests-ab53.stoat.page"
          echo "e2e-tests-vineyardctl: https://www.stoat.dev/file-viewer?root=https://v6d-io--v6d--$(git rev-parse --short ${{ github.event.pull_request.head.sha }})--e2e-tests-cb83.stoat.page"
          echo "e2e-tests-assembly-local: https://www.stoat.dev/file-viewer?root=https://v6d-io--v6d--$(git rev-parse --short ${{ github.event.pull_request.head.sha }})--e2e-tests-2cdf.stoat.page"
          echo "e2e-tests-repartition-dask: https://www.stoat.dev/file-viewer?root=https://v6d-io--v6d--$(git rev-parse --short ${{ github.event.pull_request.head.sha }})--e2e-tests-fb84.stoat.page"
          echo "e2e-tests-assembly-distributed: https://www.stoat.dev/file-viewer?root=https://v6d-io--v6d--$(git rev-parse --short ${{ github.event.pull_request.head.sha }})--e2e-tests-2573.stoat.page"
          echo "e2e-tests-autogenerated-helm-chart: https://www.stoat.dev/file-viewer?root=https://v6d-io--v6d--$(git rev-parse --short ${{ github.event.pull_request.head.sha }})--e2e-tests-7a77.stoat.page"
          echo "e2e-tests-scheduler-outside-cluster: https://www.stoat.dev/file-viewer?root=https://v6d-io--v6d--$(git rev-parse --short ${{ github.event.pull_request.head.sha }})--e2e-tests-0c6a.stoat.page"